.axis path,
.axis line {
    fill: none;
    stroke: black;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 0.9em;
}

.title {
    font-size: 2em;
}

.nevada {
    fill: rgba(0,0,0,0);
    stroke: #2ba9c9;
    stroke-width: 1.5px;
}

.regions {
    fill: #fff;
    stroke: #2ba9c9;
    stroke-width: 0.8px;
}

.gratLines {
    fill: rgba(0,0,0,0);
    stroke: #888;
    stroke-width: 0.5px;
}

.gratBackground {
    fill: #bdbdbd;
}

.map {
    border: medium solid #999;
}